
<!-- ALLOWS FOR DROP DOWN PUSH OPF HEADER BY BEING ONTOP -->
<aside id="navDropdown" class="dropdown-content">
  <form>
    <input type="text" placeholder="SEARCH">
    <input type="image" src="" alt="Search" type="button" value="Search">
  </form>
  <figure></figure>
  <a href="#">WARNING
    <div id="toplayer">
    </div>
    <hr>
  </a>
  <a href="#">OFF ROAD
    <div id="toplayer">
    </div>
    <hr>
  </a>
  <a href="#">BODY CAMERA
    <div id="toplayer">
    </div>
    <hr>
  </a>
  <ul>
    <li class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></li>
    <li class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></li>
    <li class="social-icon"><i class="fa fa-twitter" aria-hidden="true"></i></li>
  </ul>
  <div id="distributer">
    <a href="#">DISTRIBUTER ADMIN</a>
  </div>
</aside>

<!-- PAGE HEADER -->

<header>
  <button onclick="navFunction(), menuFunction(this)" class="dropbtn" class="container">
    <aside>
      <figure>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </figure>
      <span class="menu">MENU</span>
    </aside>
  </button>
  <i id="cart" class="fa fa-shopping-cart" aria-hidden="true"></i>
  <span id="cart">CART</span>
  <span id="three">(3)</span>
  <div id="toplogo">
    <span id="feniex">FENIEX INDUSTRIES</span>
  </div>
  <figure id="flag"></figure>
</header>

<section id="content">
  <div id="newrelease" class="col-xs-12 col-sm-4 col-md-4">
    <div id="nopath">
    </div>
  </div>
</section>
